<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Cocktail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="row">
    <div class="form-group col-lg-3"></div>
</div>
<div class="container col-lg-6">
    <p th:text="${addCocktailMessage}"></p>
    <form th:object="${cocktailDto}" class="form-control" action="/add-cocktail" method="post"
          id="add_Cocktail_form">
        <div class="mb-3">
            <label for="name" class="form-label">Cocktail Name</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
            <label th:errors="*{name}"></label>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Cocktail Price</label>
            <input type="number" class="form-control" id="price" th:field="*{price}">
            <label th:errors="*{price}"></label>
        </div>
        <div class="col-md-12 form-group">
            <textarea th:field="*{ingredients}" class="form-control" id="ingredients" name="ingredients"
                      placeholder="Cocktail Ingredients" onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Cocktail Ingredients'"></textarea>
        </div>
        <div class="mb-3">
            <label for="typeOfCocktail" class="form-label">Type of Cocktail</label>
            <select class="form-control" id="typeOfCocktail" name="typeOfCocktail">
                <option th:each="typeOpt : ${T(com.cocktail.bar.cocktailbar.model.enums.TypeOfCocktail).values()}"
                        th:value="${typeOpt}" th:text="${typeOpt}"></option>
            </select>
            <label th:errors="*{typeOfCocktail}"></label>
        </div>
        <button type="submit" class="btn btn-primary">Add Cocktail</button>
    </form>
</div>
<div class="row">
    <div class="form-group col-lg-3"></div>
</div>
</body>
</html>